/* line 1, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
body {
  font-family: 'Istok Web', sans-serif;
  font-weight: lighter;
  color: white;
  background-color: black;
}

/* line 8, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#welcome {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px;
}

/* line 15, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#welcome p {
  color: black;
}

/* line 22, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

/* line 28, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.header_container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr  500px 1fr;
}

/* line 35, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#header {
  background-image: url("/assets/GinBackground-070f96ab7185f6a95f0fa1a38270ab91fc48cdbcafff95d081c23323032c0ed4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/* line 45, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#logo {
  width: 100%;
  display: block;
  vertical-align: middle;
  margin: auto;
}

/* line 52, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.spacer {
  grid-column: span 3;
}

@media (min-width: 768px) {
  /* line 58, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
  .container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr auto 1fr;
  }
}
/* line 66, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#video1 {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: black;
  color: white;
  border: 5px solid white;
}

/* line 76, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#video3 {
  flex: 1;
  padding: 20px;
  border: 5px solid white;
}

/* line 82, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#video4 {
  padding: 20px;
  background-color: black;
  border: 5px solid white;
}

/* line 88, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#video5 {
  grid-column: span 3;
  padding: 30px;
  text-align: center;
  font-size: 1.4em;
  background-color: black;
  color: white;
  border: 5px solid white;
}

/* line 98, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}

/* line 104, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.vid-container {
  height: 100vh;
  width: 0;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  display: none;
}

/* line 116, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.grid_video {
  width: 0;
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  max-height: 100vh;
  display: flex;
  align-items: center;
  display: none;
}

/* line 129, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.box {
  width: 0;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  overflow: auto;
}

/* line 144, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#video2 {
  z-index: 0;
  background-color: #000000;
  padding: 20px;
  border: 5px solid white;
}

/* Safari 4.0 - 8.0 */
/* line 155, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.transform {
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

/* line 163, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.transform-active {
  width: 100vw;
}

/* line 167, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.hide {
  opacity: 0;
}

/* line 174, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.hidden {
  right: 0;
  opacity: 0;
  width: 40px;
}

/* line 181, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.not-hidden {
  animation: fadeinbutton 4s;
  animation-delay: 2s;
  -moz-animation: fadeinbutton 4s;
  /* Firefox */
  animation-delay: 2s;
  -webkit-animation: fadeinbutton 4s;
  /* Safari and Chrome */
  animation-delay: 2s;
  -o-animation: fadeinbutton 4s;
  /* Opera */
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeinbutton {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeinbutton {
  /* Firefox */
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeinbutton {
  /* Safari and Chrome */
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeinbutton {
  /* Opera */
  0% {
    width: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 250, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
.hide-active {
  height: 100%;
  display: block;
  animation: fadein 4s;
  animation-delay: 2s;
  -moz-animation: fadein 4s;
  /* Firefox */
  animation-delay: 2s;
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
  animation-delay: 2s;
  -o-animation: fadein 4s;
  /* Opera */
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  0% {
    width: 0;
  }
  20% {
    width: 100vw;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100vw;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  0% {
    width: 0;
  }
  20% {
    width: 100vw;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100vw;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  0% {
    width: 0;
  }
  20% {
    width: 100vw;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100vw;
  }
}
@-o-keyframes fadein {
  /* Opera */
  0% {
    width: 0;
  }
  20% {
    width: 100vw;
    opacity: 0;
  }
  100% {
    opacity: 1;
    width: 100vw;
  }
}
/* line 332, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/ginlovers.scss */
#close {
  top: 0;
  margin-top: 20px;
  margin-right: 20px;
  width: 40px;
  float: right;
  z-index: 12;
  position: fixed;
}
/* line 10, /Users/alexmcdowell/TEST2/blog2/app/assets/stylesheets/posts.scss */
body {
  font: 100% "Istok Web", sans-serif;
  color: #ff0000;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *



 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 27, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
a {
  text-decoration-line: none;
  color: white;
}

/* line 32, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
body {
  color: red;
}

/* line 36, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#container_nav {
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: 1fr;
}

/* line 45, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 58, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal-content {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

/* line 69, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal-header h2, .modal-footer h3 {
  margin: 0;
}

/* line 73, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal-header {
  background: white;
  padding: 15px;
  color: black;
  padding-top: 0;
}

/* line 80, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal-body p {
  margin-bottom: 10px;
  color: #6f6f6e;
}

/* line 85, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#noentry {
  display: none;
}

/* line 89, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#acceptBtn {
  font-weight: bold;
}

/* line 94, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#acceptBtn:hover {
  color: white !important;
}

/* line 99, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#boldfont {
  margin: 0;
  font-family: "Knockout 68 A", "Knockout 68 B", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
}

/* line 105, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal-body {
  padding: 10px 90px;
  top: -20px;
}

/* line 110, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.closeBtn {
  display: block;
  width: 22px;
  padding-top: 30px;
  width: 22px;
  color: #ccc;
  float: right;
  font-size: 30px;
  background-size: 90%;
  margin-right: 16px;
}

/* line 123, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.closeBtn:hover {
  width: 24px;
  margin-right: 15px;
  padding-top: 29px;
}

/* line 129, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 135, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#acceptBtn:hover, #acceptBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* line 142, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#acceptBtn {
  display: block;
  align-content: center;
  margin: auto;
  text-align: center;
  width: 140px;
  border-style: solid;
  height: 48px;
  padding-top: 11px;
  margin-top: 45px;
  margin-bottom: 15px;
}

/* line 158, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#cookieMonster {
  float: left;
  display: block;
  margin: auto;
  width: 400px;
  padding-bottom: 20px;
  padding-top: 30px;
}

/* line 168, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#script_size {
  font-size: 90px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 182, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.modal-body span {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  /* line 188, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  .modal-content {
    width: 260px;
  }

  /* line 192, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  #cookieMonster {
    padding-top: 10px;
    width: 200px;
    padding-bottom: 10px;
  }

  /* line 198, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  .closeBtn {
    width: 20px;
  }

  /* line 200, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  #boldfont {
    font-size: 40px;
  }

  /* line 204, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  #script_size {
    font-size: 60px;
  }

  /* line 208, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  .modal-body {
    padding: 10px 5px;
  }

  /* line 212, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  #acceptBtn {
    margin-top: 10px;
    margin: auto;
  }

  /* line 216, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  .modal-body {
    padding-bottom: 0;
  }

  /* line 223, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  div#acceptBtn.btn.dark {
    margin-top: 30px;
  }

  /* line 228, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  .modal-body p {
    margin-bottom: 0;
  }

  /* line 233, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
  .modal-content {
    margin: 5% auto;
  }
}
/* line 241, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
body {
  background-color: black;
}

/* line 247, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.new_menu {
  position: fixed;
  background-color: white;
  color: black;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: 0.5s ease-in;
  -moz-transition: 0.5s ease-in;
  -o-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 267, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
.new_menu-active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 275, /Users/alexmcdowell/back_up2/TEST3/blog/app/assets/stylesheets/application.css.scss */
#menu_close {
  margin: 5px;
}
